* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

body {
  transition: opacitiy 0.1s ease;
}

body.fade-out {
  opacity: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 20px 25px;
  /* border: 1px solid black; */
}

nav h2 {
  background: linear-gradient(to right bottom, #0096ff, #004aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logout-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-section button {
  background: none;
  border: none;
  background: linear-gradient(to right bottom, #0096ff, rgb(0, 72, 255));
  color: #FFFFFF;
  padding: 8px 20px;
  margin-left: 18px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-section button:hover {
  box-shadow: 0px 6px 10px rgba(0, 72, 255, 0.3);
  margin-bottom: 5px;
}

.logout-section p {
  color: #5f5f5f;
  font-weight: 600;
}

/* main section starts here */
main {
  height: 100vh;
  background: linear-gradient(to bottom right, #67a6ff, #004aff);
  padding-inline: 35px;
}

/* author info starts here */
.student-dashboard {
  text-align: center;
  padding-top: 70px;
}

.student-dashboard h1 {
  font-size: 48px;
  padding-bottom: 15px;
  font-weight: 800;
  color: #FFFFFF;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.student-dashboard p {
  font-weight: 600;
  color: #FFFFFF;
  font-size: 18px;
}

.student-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.student-submit-paper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  padding-inline:100px;
}

.student-submit-paper-container:hover {
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
}

.student-submit-paper-container i {
  background: linear-gradient(to bottom right, #43e97b, #38f9d7);
  color: #ffffff;
  padding: 20px 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.student-submit-paper-container p {
  padding-block: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #5f5f5f;
}

.student-submit-paper-container button {
  background: linear-gradient(to bottom right, #43e97b, #38f9d7);
  color: #ffffff;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.student-submit-paper-container button:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

/* student right container */
.student-view-paper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  padding-inline:138px;
}

.student-view-paper-container:hover {
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
  /* margin-top: 15px; */
}

.student-view-paper-container i {
  background: linear-gradient(to bottom right, #fa709a, #fee140);
  color: #ffffff;
  padding: 20px 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.student-view-paper-container p {
  padding-block: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #5f5f5f;
}

.student-view-paper-container button {
  background: linear-gradient(to bottom right, #fa709a, #fee140);
  color: #ffffff;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.student-view-paper-container button:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

footer {
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #4d4b4b;
  font-weight: 600;
}