* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #1E5EFF, #4FD1FF);
  /* background: linear-gradient(135deg, #5B7FAF, #7FA6D9, #D6E9FF); */
}

form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #808080;
  border-radius: 15px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 20px;
  padding-bottom: 2px;
}

.input-container {
  margin-block: 5px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  border: none;
  outline: none;
  
}

input::placeholder {
  color: #414141;
}

.email-container {
  border: 1px solid #000000;
  padding: 10px;
  padding-right: 43px;
  word-spacing: 10px;
  border-radius: 8px;
}

.password-container {
  border: 1px solid #000000;
  padding: 10px;
  word-spacing: 10px;
  border-radius: 8px;
}

.confirm-password-container {
  border: 1px solid #000000;
  padding: 10px;
  word-spacing: 10px;
  border-radius: 8px;
}


.roles-container label {
  display: block;
  margin-bottom: 5px;
}

.roles-container select {
  border: none;
}

.roles-container {
  margin-top: 5px;
}

.roles-container .role-selection {
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 8px;
  /* padding-right: 158px; */
}

.roles-container select {
  padding-right: 148px;
  outline: none;
}

.register-button {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 260px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 2px solid #000000;
}
