* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

body {
  padding: 50px 22px 30px 22px;
  background: linear-gradient(to bottom right, #ff69e0, #ffff14);
  width: 100%;
  min-height: 100vh;
  transition: opacity, background-color 0.3s all;
}

body.fade-out {
  opacity: 0;
}

body.low-fade::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.55);
}

.main-heading {
  text-align: center;
  margin-bottom: 40px;
}

.main-heading h1 {
  font-size: 42px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.main-heading p {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}

.dashboard-btn {
  padding: 10px 20px;
  color: #ffffff;
  background: linear-gradient(to right, #667eea, #764ba2);
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 600;
}

.dashboard-btn:hover {
  box-shadow: 0px 2px 10px 5px rgba(102, 126, 234, 0.2);
}

.reviews-container {
  display: none;
  flex-wrap: wrap;
}

.reviews-basic-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-basic-info-container .username {
  font-size: 16px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reviews-container .review {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-radius: 20px;
  background-color: #fffffff3;
  padding: 25px;
  margin-right: 35px;
  margin-bottom: 40px;
  overflow: hidden;
}

.reviews-container .review .status {
  background-color: #ffff14;
  color: #000000;
  width: fit-content;
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.reviews-container .review .paper-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #363535;
}

/* .reviews-container .review .review-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .review-btn-container p {
  max-width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} */

.reviews-container .review .review-btn {
  background: linear-gradient(to bottom right, #28ffb3, #43e97b);
  border: none;
  padding: 10px 40px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
}

.review-btn:hover {
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
}

/* if papers are not submitted */

.reviews-available-container {
  display: none;
  text-align: center;
  border: 1px solid black;
  width: 100%;
  padding-block: 70px;
  background-color: #ffffffef;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.reviews-available-container:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 10px 5px rgba(0, 0, 0, 0.1);
}

.reviews-available-container i {
  font-size: 100px;
  color: #fa709a;
  margin-bottom: 25px;
}

.reviews-available-container h1 {
  color: #475259;
  margin-bottom: 10px;
}

.reviews-available-container p {
  color: #475259;
  font-size: 18px;
  margin-bottom: 30px;
}

.reviews-available-container button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(to bottom right, #fa709a, #ffff14);
  transition: all 0.5s ease;
}

.reviews-available-container button:hover {
  box-shadow: 0px 5px 5px 5px rgba(250, 112, 154, 0.2);
}

.teacher-comment-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  width: 600px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.comment-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-name-container p {
  font-size: 18px;
  font-weight: 600;
}

.comment-name-container i {
  color: #ffffff;
  background-color: #764ba2;
  padding: 8px 6px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  width: 30px;
  font-size: 14px;
  cursor: pointer;
}


.comment-text-container p {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 7px;
}

.comment-text-container textarea {
  width: 550px;
  padding-block: 10px;
  font-size: 16px;
  border-radius: 12px;
}

@media screen and (max-width: 600px) {

  .main-heading {
    margin-top: 20px;
  }

  .main-heading h1 {
    font-size: 30px;
  }

  .main-heading p {
    font-size: 16px;
  }

  .remove-mobile {
    display: none;
  }

  .reviews-container {
    display: none;
    flex-wrap: wrap;
  }

  .reviews-basic-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .reviews-container .review {
    width: 450px;
    height: 200px;
    padding: 25px 15px;
    margin-right: 0px;
  }

  .reviews-container .review .status {
    padding: 5px 10px;
    font-size: 14px;
  }

  .reviews-container .review .review-btn {
    padding: 10px 25px;
  }

  /* if papers are not submitted */

  .reviews-available-container {
    width: 320px;
    padding-inline: 20px;
  }

  .reviews-available-container i {
    font-size: 60px;
  }

  .reviews-available-container h1 {
    font-size: 30px;
  }

  .reviews-available-container p {
    font-size: 16px;
  }

  .reviews-available-container button {
    font-size: 16px;
    padding: 12px 22px;
  }

  .teacher-comment-container {
    width: 280px;
    overflow: hidden;
  }

  .comment-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }

  .comment-name-container p {
    font-size: 17px;
    font-weight: 600;
  }

  .comment-name-container i {
    padding: 5px 5px;
    width: 20px;
    font-size: 10px;
  }


  .comment-text-container p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }

  .comment-text-container textarea {
    width: 245px;
    padding: 5px 8px;
    font-size: 15px;
    border-radius: 12px;
  }
}