* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI';
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #667eea, #764ba2);
  transition: opacity 0.1s ease;
  padding-block: 60px;
  /* for smooth animation */
}

body.fade-out {
  opacity: 0;
}


.dashboard-btn {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #764ba2;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 600;
  margin-left: 40px;
}

.dashboard-btn:hover {
  box-shadow: 0px 2px 10px 5px rgba(14, 45, 179, 0.2);
}

form {
  /* position: relative; */
  width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  /* background: #764ba2; */
  background: rgba(255, 255, 255, 0.09);
  /* backdrop-filter: blur(10px); */
}

/* form span {
  position: absolute;
  display: block;
}

form span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #1E3A8A, #38BDF8);
  animation: topMove 2s linear infinite;
}

form span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(to bottom, #1E3A8A, #38BDF8);
  animation: rightMove 2s linear infinite;
  animation-delay: 0.5s;
}

form span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(to left, #1E3A8A, #38BDF8);
  animation: bottomMove 2s linear infinite;
  animation-delay: 1s;
}

form span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(to top, #1E3A8A, #38BDF8);
  animation: leftMove 2s linear infinite;
  animation-delay: 1.5s;
} */

form h3 {
  color: #000000;
  font-weight: 600;
  /* padding-block: 5px; */
  /* margin-block: 5px; */
}

.main-heading {
  color: #000000;
}


.input-container {
  margin-block: 5px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.input-container input {
  border: none;
  outline: none;

}

input::placeholder {
  color: #414141;
}

.user-container {
  border: 3px solid #000000;
  padding: 10px;
  width: 290px;
  word-spacing: 10px;
  border-radius: 8px;
}

.user-container i {
  color: #1E3A8A;
}

.user-container input {
  background: none;
  font-size: 16px;
}

.email-container {
  border: 3px solid #000000;
  padding: 10px;
  width: 290px;
  word-spacing: 10px;
  border-radius: 8px;
}

.email-container i {
  color: #1E3A8A;
}

.email-container input {
  background: none;
  font-size: 16px;
}

.password-container {
  border: 3px solid #000000;
  padding: 10px;
  width: 290px;
  word-spacing: 10px;
  border-radius: 8px;
}

#register-password {
  margin-right: 14px;
}

.password-container i {
  color: #1E3A8A;
}

.password-container input {
  background: none;
  font-size: 16px;
}


.roles-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.roles-container i {
  color: #1E3A8A;
}

.roles-container select {
  border: none;
  background: none;
  font-size: 16px;
}

.roles-container {
  margin-top: 5px;
}

.roles-container .role-selection {
  border: 3px solid #000000;
  padding: 10px;
  border-radius: 8px;
  /* padding-right: 158px; */
}

.roles-container select {
  padding-right: 164px;
  outline: none;
}

.register-button {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 290px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 3px solid #000000;
  background: linear-gradient(to bottom right, #667eea, #764ba2);
}

.register-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 80px;
}

.login-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 80px;
}

.image-container img {
  max-width: 600px;
}

/* credentials container */

.credentials-container p {
  color: whitesmoke;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  width: 290px;
  margin-top: 15px;
  margin-bottom: -5px;
  border: 3px solid #000000;
  background: linear-gradient(to bottom right, #667eea, #764ba2);
}


@keyframes topMove {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes rightMove {
  0% {
    top: -100%;
  }

  100% {
    top: 100%;
  }
}

@keyframes bottomMove {
  0% {
    right: -100%;
  }

  100% {
    right: 100%;
  }
}

@keyframes leftMove {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

@media screen and (max-width: 600px) {
  .dashboard-btn {
    margin-bottom: 30px;
  }

  .remove-mobile {
    display: none;
  }

  form {
    width: 340px;
  }

  form h3 {
    color: #000000;
    font-weight: 600;
  }

  .main-heading {
    text-align: center;
  }


  .input-container {
    margin-block: 5px;
  }

  .input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
  }

  .user-container {
    width: 280px;
  }

  .email-container {
    width: 280px;
  }

  .password-container {
    width: 280px;
  }

  #register-password {
    margin-right: 0px;
  }

  .password-container input {
    width: 180px;
  }


  .roles-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
  }

  .roles-container select {
    width: 230px;
  }

  .roles-container {
    margin-top: 5px;
  }

  .roles-container select {
    padding-right: 120px;
  }

  .register-button {
    width: 280px;
  }

  .image-container img {
    display: none;
  }

  .account-container {
    font-size: 15px;
    width: 280px;
  }

  .credentials-container p {
    color: whitesmoke;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: 280px;
    margin-top: 15px;
    margin-bottom: -5px;
    border: 3px solid #000000;
    background: linear-gradient(to bottom right, #667eea, #764ba2);
  }

}