* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

body {
  background: linear-gradient(to right, #667eea, #764ba2);
}

.back-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.back-btn i {
  margin-right: 5px;
}

.main-reset-password-container {
  width: 430px;
  margin: 0 auto;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 15px;
  margin-top: 120px;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.3);
}

.reset-password-upper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.para {
  color: gray;
  font-weight: 400;
}

.lock-container {
  width: 60px;
  padding: 15px;
  border-radius: 50%;
  background-color: #c4cdf7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.lock-container i {
  color: #667eea;
  font-size: 18px;
}

.reset-password-lower-container {
  margin-top: 10px;
}

.password-container {
  border: 1px solid gray;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 4px;
}

.password-container input {
  border: none;
  outline: none;
  font-size: 17px;
  width: 85%;
  padding: 10px;
}

.password-container .fa-lock {
  padding-left: 8px;
  color: gray;
}

.confirm-password-container .fa-lock {
  padding-left: 8px;
  color: gray;
}

.fa-eye {
  color: gray;
}

label {
  font-weight: 600;
}

.confirm-password-container {
  border: 1px solid gray;
  border-radius: 8px;
  margin-top: 4px;
}

.confirm-password-container input {
  border: none;
  outline: none;
  font-size: 17px;
  width: 85%;
  padding: 10px;
}

.reset-password-btn {
  width: 100%;
  color: #ffffff;
  background-color: #764ba2;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 17px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.reset-password-btn:hover {
  background-color: #a777d6;
}