* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

body {
  padding: 50px 12px 30px 25px;
  background: linear-gradient(to bottom right, #ff69e0, #ffff14);
  width: 100%;
  min-height: 100vh;
  transition: opacity 0.3s all;
}

body .fade-out {
  opacity: 0;
}

.main-heading {
  text-align: center;
  margin-bottom: 40px;
}

.main-heading h1 {
  font-size: 42px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.main-heading p {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.dashboard-btn {
  padding: 10px 20px;
  color: #ffffff;
  background: linear-gradient(to right, #667eea, #764ba2);
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 600;
}

.dashboard-btn:hover {
  box-shadow: 0px 2px 10px 5px rgba(102, 126, 234, 0.2);
}

.teachers-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
}

.teacher-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
  padding: 10px 20px 15px 15px;
  border-radius: 30px;
  border: 2px solid #5f5f5f;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 50px;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.teacher-container .row {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #383636;
}



.btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.edit-btn {
  background-color: #ffff14;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #383636;
  transition: all 0.3s ease;
}

.edit-btn:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.delete-btn {
  background-color: #764ba2;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s ease;
}

.delete-btn:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.save-btn {
  display: none;
  background-color: #ffff14;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #383636;
  transition: all 0.3s ease;
}

.save-btn:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.cancel-btn {
  display: none;
  background-color: #764ba2;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #383636;
  transition: all 0.3s ease;
}

.cancel-btn:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.credentials-container {
  display: block;
  min-height: 30px;
}

.credentials-container p {
  color: #764ba2;
  font-size: 16px;
  font-weight: 800;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .main-heading {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .main-heading h1 {
    font-size: 35px;
  }

  .remove-mobile {
    display: none;
  }

  .teachers-container {
    display: none;
    flex-wrap: wrap;
  }

  .teacher-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
    padding: 10px 20px 10px 15px;
    border-radius: 30px;
    border: 2px solid #5f5f5f;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 50px;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .teacher-container .username {
    margin-bottom: 8px;
  }

  .teacher-container .email {
    margin-bottom: 8px;
  }

  .btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 133px;
  }

}