* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

body {
  width: 100%;
  min-height: 100vh;
  transition: opacity 0.3s ease;
}

body.fade-out {
  opacity: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 12vh;
  border: 1px solid black;
  background: linear-gradient(to right, #667eea, #764ba2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
  margin-right: 10px;
}

header h1 {
  margin-left: 10px;
  color: #ffffff;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.dashboard-conatiner {
  display: flex;
}

aside {
  position: fixed;
  left: 0%;
  top: 77px;
  width: 210px;
  height: calc(100vh - 12vh);
  border: 1px solid black;
  margin-top: -1px;
  overflow-y: auto;
  background: linear-gradient(to bottom, #667eea, #764ba2);
}

aside p {
  margin-block: 18px;
  border: 1px solid black;
  width: 180px;
  margin-left: 10px;
  padding: 6px 0px 6px 6px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #3d3a3a;
  cursor: pointer;
  transition: all 0.3s ease;
}

aside p:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

aside i {
  font-size: 16px;
  margin-right: 6px;
  color: #764ba2;
}

main {
  margin: 95px 0px 0px 260px;
}

main h1 {
  background: linear-gradient(to bottom right, #667eea, #764ba2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .para {
  color: #5f5f5f;
  font-weight: 600
}

/* .students-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 700px;
  padding: 10px 20px 10px 15px;
  border-radius: 30px;
  border: 2px solid #5f5f5f;
  cursor: pointer;
  background-color: #667eea;
  transition: all 0.3s ease;
}

.students-container:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.students-container p {
  padding: 8px;
  border-radius: 30px;
}

.students-container .status {
  background-color: #764ba2;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.students-container .email {
  background-color: #764ba2;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.students-container .username {
  background-color: #764ba2;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
} */

.papers-status-container {
  display: none;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 500px;
  box-shadow: 0px 0px 4px 4px rgba(118, 75, 162, 0.3);
  background: linear-gradient(to bottom right, rgb(102, 126, 234), rgb(118, 75, 162));
}

.papers-status-container p {
  font-size: 18px;
  font-weight: 600;
  /* border: 1px solid black; */
  border: none;
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  color: #3d3a3a;
  transition: all 0.3s ease;
}

.papers-status-container p:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}


@media screen and (max-width: 600px) {

  header h1 {
    font-size: 25px;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container img {
    width: 60px;
    height: 60px;
  }

  .dashboard-conatiner {
    display: flex;
  }

  aside {
    position: fixed;
    left: 0%;
    top: 91px;
    width: 150px;
    margin-top: -11px;
  }

  aside p {
    width: 128px;
    margin-left: 10px;
    font-size: 14px;
  }

  main {
    margin: 105px 0px 0px 260px;
  }

  main h1 {
    margin-left: -90px;
    font-size: 20px;
  }

  main .para {
    margin-left: -90px;
    width: 160px;
    font-size: 14px;
  }

  .papers-status-container {
    width: 150px;
    margin-left: -80px;
  }

  .papers-status-container p {
    font-size: 12px;
    font-weight: 600;
  }

  .remove-mobile {
    display: none;
  }
}